body {
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42/var(--tw-bg-opacity)) !important;
}

.manu-principal-container {
  max-width: 2000px;
  display: flex;
}

.manu-container-1 {
  margin-bottom: 3rem;
  max-width: 580px;
  margin-left: 12rem;
}

.manu-container-2 {
  margin-top: 4rem;
  margin-bottom: 3rem;
  max-width: 800px;
  margin-left: 10rem;
}

/* Modificaciones específicas para pantallas pequeñas */
@media only screen and (max-width: 600px) {
  .manu-principal-container {
    max-width: 600px;
    display: inline;
  }
  
  .manu-container-1 {
    padding-bottom: 0rem;
    margin-bottom: 3rem;
    max-width: 400px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  
  .manu-container-2 {
    margin-top: 2rem;
    padding-bottom: 10rem;
    margin-bottom: 3rem;
    max-width: 400px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }


  .manu-container {
    padding: 3px;
    margin: 1rem;
    
  }
  .manu-title{
      font-size: 35px !important;
      text-align: center;
      margin-top: 5rem !important;
  }

  .manu-subtitle{
    font-size: 25px !important;
    text-align: center;
  }

  .manu-container h2{
      font-size: 20px;
      text-align: center;
  }
  .about-me, .experience, .job-duty {
      font-size: 25px;
  }
  .business-name{
      font-size: 25px;
  }

  .info-container{
      margin: 1.2rem !important;
  }

  .job-time{
      font-size: 20px !important;
  }
}

/* Modificaciones específicas para iPads */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .manu-container {
    padding: 3px;
    margin: 1rem;
  }
  .manu-title {
      font-size: 60px !important;
      margin-top: 4rem !important;
      text-align: center;
  }
  .manu-subtitle{
      font-size: 20px;
      text-align: center;
  }
  .info-container{
      margin: 2rem !important;
  }
}


.manu-container h1, h2, h3, h4, p, span, strong {
  font-family: 'Oswald';
}

.info-container{
  margin: 5rem;
}

.manu-title {
  --tw-text-opacity: 1;
  color: rgb(94 234 212/var(--tw-text-opacity));
  font-size: 75px;
  margin-bottom: 0;
  font-style: inherit;
}

.manu-subtitle{
  --tw-text-opacity: 1;
  color: rgb(94 234 212/var(--tw-text-opacity));
  margin-top: 0;
  font-size: 38px;
}

.title-animate {
  text-align: left;
}

.description {
  --tw-text-opacity: 1;
  color: rgb(148 163 184/var(--tw-text-opacity));
  text-align: justify;
  font-size: 18px;
}

.about-me{
  margin-top: 1rem;
  --tw-text-opacity: 1;
  color: rgb(226 232 240/var(--tw-text-opacity));
}

.experience{
  margin-top: 6rem;
  --tw-text-opacity: 1;
  color: rgb(226 232 240/var(--tw-text-opacity));
}

/* EXPERIENCIA */

.card-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  justify-content: space-between;
}

.job-card{
  --tw-text-opacity: 1;
  overflow: hidden;
  text-align: center;
  flex: 1;
  border-bottom: 3px solid rgb(94 234 212/var(--tw-text-opacity));
}
.business-name {
  --tw-text-opacity: 1;
  color: rgb(94 234 212/var(--tw-text-opacity));
  margin-top: 5rem;
}

.job-time {
  --tw-text-opacity: 1;
  color: rgb(148 163 184/var(--tw-text-opacity));
  font-size: 18px;
}

.job-description {
  --tw-text-opacity: 1;
  color: rgb(148 163 184/var(--tw-text-opacity));
  text-align: justify;
  font-size: 18px;
}

.job-duty {
  text-align: left;
  font-size: 24px;
}

/* FIN EXPERIENCIA */

.flex-wrap {
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 8rem;
  display: flex;
  list-style-type: none;
}

.aptitudes-li {
  margin-top: 0.5rem;
  margin-right: 0.375rem;
}

.aptitudes-box {
  --tw-text-opacity: 1;
  color: rgb(94 234 212/var(--tw-text-opacity));
  line-height: 1.25rem;
  font-weight: 500;
  font-size: .95rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: rgba(45,212,191,.1);
  border-radius: 9999px;
  align-items: center;
  display: flex;
}

.seccion-title {
  text-align: left;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.seccion-container{
  display: block;
}

.seccion-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.line{
    --tw-text-opacity: 1;
    background-color: rgb(94 234 212/var(--tw-text-opacity));
    height: 5px;
    display: inline-block;
    width: 50px;
    margin-left: 16px;
    margin-right: 13px;
}

.icon{
  border-bottom: solid;
}

.contact-a{
  text-decoration: none;
}

/* SKILLS */
.star-color{
  --tw-text-opacity: 1;
  color: rgb(94 234 212/var(--tw-text-opacity));
}

.skill-description {
  --tw-text-opacity: 1;
  color: rgb(226 232 240 / var(--tw-text-opacity));
  text-align: justify;
  font-size: 18px;
  display: flex;
  margin-bottom: 0.5rem;
  justify-content: space-between;
  width: 70%;
}


/* END SKILLS */

.language-dropdown {
  appearance: none;
  background-color: rgba(45, 212, 191, .1);
  color: white;
  border: 1px solid #5AAED4;
  padding: 6px 12px;
  border-radius: 999px;
  font-weight: 600;
  font-size: 14px;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23ffffff" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  padding-right: 30px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.language-dropdown:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(90, 174, 212, 0.6);
}

.language-dropdown:hover {
  background-color: rgba(90, 174, 212, 0.3);
  box-shadow: 0 0 10px rgba(90, 174, 212, 0.4);
}

.lang-dropdown-options{
  border: 1px solid #5AAED4;
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
  font-weight: 600;
  border-radius: 8px;
}

.language-dropdown.fade-in {
  opacity: 1;
}

.swiper {
  width: 60%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
